<html>
	{% load static %}
	<head>
		<title>
			Stakr
		</title>
                <link rel = "stylesheet" href = "{% static "home.css" %}"/>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div id = "slide_one">
			<h1><center>Stackr</center></h1>
			<h3><center> Storage Simplified </center></h3>
			<center><img id  = "arrow" src = "{% static "arrow.png" %}"/></center>
		</div>
		<div id = "slide_two">
			<div id = "work">
				<center><h3> How does Stackr work ? </h3></center>
			</div>	
					<center>
						<div id = "slone">
							<center>
								<img id = "phone" src = "{% static "iphone.png" %}"/>
								<h2> Take a Picture </h2>
								<p> Upload a picture of the things you want to stack</p>
							</center>	
						</div>
						<div id = "sltwo">
							<img id = "coin" src="{% static "coin.png" %}"/>
							<h2> Set your price and duration</h2>
							<p> You decide how much you pay for the time you stack your stuff </p>
						</div>
						<div id = "slthree">
							<img id = "car" src="{% static "car.png" %}"/>
							<h2> Drop off</h2>
							<p> Drop your stuff off at your Stackr mate's place </p>
						</div>
					</center>
		</div>
		<div id = "slide_three">
			<center>
				<a href = "/packr/">
					<div id = "packr">
						<center>Packr Up!</center>	
						<img src="{% static "box.png" %}"/>
					</div>
				</a>
			</center>
			<center>
				<a href = "/stackr/">
					<div id = "stkr">
						<center>Stackr Up!</center>	
						<br>
						<img id = "stack" src="{% static "stack.png" %}"/>
					</div>
				</a>
			</center>		
		</div>
	</body>
</html>
